<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel='icon' href='https://img.icons8.com/metro/420/bookmark.png'>
    <link rel="stylesheet" type="text/css" href="main.css">
    <title>Bookmark!</title>
  </head>
  <body>
    <ul class='navbar'>
      <li class='navbar'><a class='navbar' href="/bookmarks">View bookmarks</a></li>
      <li class='navbar'><a class='navbar' href="/new-bookmark">Add bookmark</a></li>
    </ul>
    <div>Bookmark!</div>
  </body>
</html>
